<mat-nav-list *ngIf="layout==='side-nav'">
  <a mat-list-item  tabindex="0" role="link" *ngFor="let link of stateVariable.navlinks"
    routerLinkActive="activeLink" [ngClass]="{'activeLink': link.isActive}" [routerLink]="link.link">{{link.label}}</a>

</mat-nav-list>

<nav mat-tab-nav-bar *ngIf="layout==='main-nav'"  role="navigation">
  <a mat-tab-link  tabindex="0" role="link" *ngFor="let link of stateVariable.navlinks"
    routerLinkActive="activeLink" [ngClass]="{'activeLink': link.isActive}" [routerLink]="link.link">{{link.label}}</a>
</nav>



