<div class="Title">
    <label attr.aria-label={{label}}>{{label}}</label>
  </div>
  <div>
    <mat-form-field class="mat-form-field" [formGroup]=parentFormGroup appearance="outline">
      <!-- <mat-label>{{label}}</mat-label> -->
      <input label
        attr.aria-label="{{label}}"
        role="textbox"
        [required]="Required? 'true' : null"
        matInput
        [type]="type"
        [id]="fieldName"
        name={{fieldName}}
        formControlName={{Name}}
        placeholder={{placeholderValue}}
      />
      <mat-error *ngIf="error">{{error}}</mat-error>
    </mat-form-field>
  </div>
  
