
 <div class="Title">
  <label  attr.aria-label={{label}}>{{label}}</label>
</div>
<!-- <form [formGroup]="parentFormGroup"> -->
<mat-form-field  appearance="outline">
  <mat-chip-list #chipList>
    <mat-chip
      *ngFor="let fruit of fruits"
      selectable="true"
      removable="true"
      selected="true"
      (removed)="remove(fruit)">
      {{fruit}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input
      
      placeholder="Select fruit" #fruitInput 
      [formControl]="fruitCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="add($event)"
    />
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
      {{ fruit }}
    </mat-option>
  </mat-autocomplete>
  <mat-error *ngIf=error>{{error}}</mat-error>
</mat-form-field>

<!-- </form> -->
