
 <div class="Title">
  <label  attr.aria-label={{label}}>{{label}}</label>
</div>

<mat-form-field [formGroup]=parentFormGroup  appearance="outline">
  <mat-chip-list #chipList>
    <mat-chip

      attr.aria-label={{label}}
      *ngFor="let fruit of fruits"
      selectable="false"
      removable="true"
      selected="true"
      (removed)="remove(fruit)">
      {{fruit}}
      <mat-icon matChipRemove aria-label="remove" *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input
      aria-label="Enter chip"
      placeholder="Select fruit" #fruitInput 
      formControlName={{Name}}
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="add($event)"
    />
    
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
      {{ fruit }}
    </mat-option>
    
  </mat-autocomplete>
  <mat-error *ngIf=error>{{error}}</mat-error>
</mat-form-field>


