
<form [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-card class="example-card">
      <mat-card-title class="mat-card-header">Login</mat-card-title>
      <mat-card-content>
        <app-text-input  [parentFormGroup]="loginForm" [fieldName]="userName" [Name]="userName" type="text" [Required]=true
          [label]="userNameLabel"  [error]="userNameError"></app-text-input>
        <app-text-input [parentFormGroup]="loginForm" [fieldName]="password" [Name]="password" type="password" [Required]=true
          [label]="passwordLabel" role="textbox" [error]="passwordError" ></app-text-input>
      </mat-card-content>
      <mat-card-actions align="center">
        <button mat-raised-button type="submit" class="btn"  role="button" aria-label="Login" color="primary" > Login </button>
      </mat-card-actions>
    </mat-card>
  </form>


           
