

.example-card {
    width: 30vw;
    max-width: 500px;
    margin: auto;
    margin-top: 4%;
    border: 1px solid grey;
  }
  
  @media (max-width: 959px) {
    .example-card {
      width: 72vw;
    }
  }
  
  .image {
    padding-right: 20px;
    padding-top: 15px; 
    padding-left: 30px; 
    margin-bottom: 10px;
  }
  
  .mat-card-header {
    height: 50px;
    font-size: 22px;
    font-family: 'connections Light';
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
  }
  
  app-custom-input {
    width: 100%;
    margin-bottom: 4%;
  }

  

  
  
