
<form [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-card class="example-card">
      <mat-card-title class="mat-card-header">Login</mat-card-title>
      <mat-card-content>
        <app-custom-input  [parentFormGroup]="loginForm" [fieldName]="username" [Name]="username" type="text" [Required]=true
          [label]="userNameLabel" aria-label="Username"  [error]="nameError"></app-custom-input>
        <app-custom-input [parentFormGroup]="loginForm" [fieldName]="password" [Name]="password" type="password" [Required]=true
          [label]="PasswordLabel" aria-label="Password" role="textbox" [error]="passwordError" ></app-custom-input>
      </mat-card-content>
      <mat-card-actions class="button">
        <button mat-raised-button type="submit"  role="button" aria-label="Login" color="primary" > Login </button>
      </mat-card-actions>
    </mat-card>
  </form>
