<div class="title">
    <span class="required" *ngIf="isRequired">*</span>
    <label attr.aria-label={{label}}>{{label}}</label>
</div>
<div class="radio-box" [formGroup]=parentFormGroup>
    <mat-radio-group class="radio-group" attr.aria-label="{{label}}" formControlName={{name}} >
        <mat-radio-button *ngFor="let option of options" color="primary" class="radio-button"
            [value]="option" (change)="optionChanged($event)">
            <span style="padding: 10px;"> {{option}} </span>
        </mat-radio-button>
    </mat-radio-group>
    <mat-error *ngIf=error>{{error}}</mat-error>
</div>