<div class="Title">
  <span class="required" *ngIf="isRequired">*</span>
  <label attr.aria-label={{label}}>{{label}}</label>
</div>
<form class="check-box" [formGroup]="parentFormGroup">
  <div class="checkboxElement" *ngFor="let option of Options">
    <mat-checkbox color="primary" class="mat-check-margin" formControlName={{Name}} 
      [value]="option" (change)="checkBoxChange($event)">
      {{option}} 
      <mat-error *ngIf="error" >{{error}}</mat-error>
    </mat-checkbox>
  </div>
</form>