<div [ngClass]="{'pointer-event-none': navDetail, 'popup-overlay': navDetail}">
    <app-nav-bar></app-nav-bar>
</div>
<router-outlet></router-outlet>


 <!-- <mat-form-field style="width: 300px;" appearance="outline">
	<mat-select #select placeholder="Basic" >
		<mat-select-filter *ngIf="select.focused" [array]="variables" (filteredReturn)="filteredList1 =$event">
            
        </mat-select-filter> 
        <mat-option>None</mat-option>
		<mat-option *ngFor="let item of filteredList1" [value]="item">
			{{item}}
		</mat-option>
	</mat-select>
</mat-form-field>  -->
