.mat-title-title {
    border-bottom:1px solid grey ;
    font-family: 'Times New Roman', Times, serif;

}

.Validation-content {
    max-height: 50vh;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

.mat-button {
    border: 2px solid black; 
    background-color: whitesmoke;
}

.noHeaderBlock {
    font-family: 'Times New Roman', Times, serif;
}