<div [ngSwitch]="data.type">
    <div *ngSwitchCase="'error'">
        <span mat-dialog-title class="mat-title-title" >{{ErrorHeader}}</span>
        <div class="Validation-content">
            <mat-dialog-content color="warn" *ngFor="let message of data.message">
                {{message}}
            </mat-dialog-content>
        </div>
    </div>

    <div *ngSwitchCase="'formData'">
        <span mat-dialog-title class="mat-title-title text">Form Data</span>
        <mat-dialog-content color="warn" *ngIf="formData">
        <mat-list>
            <mat-list-item *ngIf="formData.message.userName">UserName:  {{formData.message.userName}}</mat-list-item>
            
            <mat-list-item *ngIf="formData.message.empId">Emploee ID:  {{formData.message.empId}}</mat-list-item>
            
            <mat-list-item *ngIf="formData.message.email">Email ID:  {{formData.message.email}}</mat-list-item>
           
            <mat-list-item *ngIf="formData.message.dropDown">DropDown: {{formData.message.dropDown}}</mat-list-item>
            
            <mat-list-item *ngIf="formData.message.joiningDate">Date: {{formData.message.joiningDate}}</mat-list-item>
            
            <mat-list-item *ngIf="formData.message.chip">Chip: {{formData.message.chip}}</mat-list-item>
           
            <mat-list-item *ngIf="formData.message.radioButton">RadioButton: {{formData.message.radioButton}}</mat-list-item>
          
            <mat-list-item *ngIf="formData.message.check">CheckBox: {{formData.message.check}}</mat-list-item>
            
          </mat-list>
        </mat-dialog-content>
    </div>

    <div *ngSwitchDefault>
        <div *ngIf="data.header; else noHeader">
            <span>{{data.header}}</span>
        </div>
    </div>

    <ng-template #noHeader>
        <span mat-dialog-title class="noHeader">{{data.message}}</span>
    </ng-template> 


    <mat-dialog-actions align="end">
        <button mat-button class="mat-button mat-button-blue" color="primary"   [mat-dialog-close]=false><span class="buttonText1">{{buttonText1}}</span></button>
        <button mat-button class="mat-button" *ngIf="buttonText2" [mat-dialog-close]=false>{{buttonText2}}</button>
    </mat-dialog-actions>
</div>
