<div [ngSwitch]="data.type">
    <div *ngSwitchCase="'Error'">
        <span mat-dialog-title class="mat-title-title">{{ErrorHeader}}</span>
        <div class="Validation-content">
            <mat-dialog-content color="warn" *ngFor="let message of data.message">
                {{message}}
            </mat-dialog-content>
        </div>

    </div>

    <div *ngSwitchDefault>
        <div *ngIf="data.header; else noHeader">
            <span>{{data.header}}</span>
        </div>
    </div>

    <ng-template #noHeader>
        <span mat-dialog-title class="noHeader">{{data.message}}</span>
    </ng-template> 

    <mat-dialog-actions align="end">
        <button mat-button class="mat-button" color="primary" style="background-color: blue;"  [mat-dialog-close]=false><span style="color: white;">{{buttonText1}}</span></button>
        <button mat-button class="mat-button" *ngIf="buttonText2" [mat-dialog-close]=false>{{buttonText2}}</button>
    </mat-dialog-actions>
</div>
