.mat-title-title {
    border-bottom:1px solid grey ;
    font-family: 'Times New Roman', Times, serif;

}

.Validation-content {
    max-height: 50vh;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

/* .mat-button {
    border: 1px solid black; 
     background-color: whitesmoke; 
} */

.noHeader {
    font-family: 'Times New Roman', Times, serif;
}

.form-data {
    margin-top: 20px;
}

td {
    padding-left: 20px;
}

.text {
    text-align: center;
}