<form [formGroup]="userForm" (ngSubmit)="submit()">
    <div class="formsection">

        <h1 align="center">Reactive Form</h1>
        <div>
            <app-text-input [parentFormGroup]="userForm" [Name]="username" type="text" [Required]=true
                [label]="userNameLabel" aria-label="Username" [placeholderValue]="usernamePlaceholder"
                [error]="userNameError">
            </app-text-input>
        </div>
        <div class="spacer"></div>
        <div>
            <app-drop-down  [parentFormGroup]="userForm" [error]="dropDownError" [Name]="dropDownValue" [placeholderValue]="dropDownLabel"
                [label]="dropDownLabel" [dropDownData]="dropDownData">
            </app-drop-down>
        </div>
        <div class="spacer"></div>
        <div>
            <app-date-picker [parentFormGroup]="userForm" [error]="joiningDateError" [placeholderValue]="dateLabel"
                (onClick)="functioncall($event)" [Name]="dateValue" [label]="dateLabel"></app-date-picker>
        </div>
        <div>
            <app-chip [parentFormGroup]="userForm" [Name]="chipValue" [error]="chipError" 
            [placeholderValue]="chipPlaceholder" [label]="chipLabel">
            </app-chip>
        </div>
        <div class="spacer"></div>
        <div>
            <app-radio-box [parentFormGroup]="userForm" [Name]="radioButtonValue" [Options]="radioButtonData"
                (valueSelectionChanged)="onRadioChange($event)" [label]="radioButtonLabel">
            </app-radio-box>
        </div>
        <div class="spacer"></div>
        <div>
            <app-check-box [Options]="checkedData" [parentFormGroup]="userForm" [Name]="checkValue"
                (valueSelectionChanged)="okcheckBoxChange($event)" [label]="checkLabel">
            </app-check-box>
        </div>
        <div align="center">
            <button mat-raised-button color="primary" class="btn">Save</button>
        </div>
    </div>

</form>