<form [formGroup]="userForm" (ngSubmit)="submit()">
    <div class="formsection">

        <h1 align="center">Reactive Form</h1>
        <div>
            <app-text-input [parentFormGroup]="userForm" [name]="username" type="text" [required]=true
                [label]="userNameLabel" aria-label="Username" [placeholderValue]="usernamePlaceholder"
                [error]="userNameError">
            </app-text-input>
        </div>
        <div class="spacer"></div>
        <div>
            <app-drop-down  [parentFormGroup]="userForm" [error]="dropDownError" [name]="dropDownValue" [placeholderValue]="dropDownLabel"
                [label]="dropDownLabel" [dropDownData]="dropDownData">
            </app-drop-down>
        </div>
        <div class="spacer"></div>
        <div>
            <app-date-picker [parentFormGroup]="userForm" [error]="joiningDateError" [placeholderValue]="dateLabel"
                (onClick)="functionCall($event)" [name]="dateValue" [label]="dateLabel"></app-date-picker>
        </div>
        <div>
            <app-chip [parentFormGroup]="userForm" [name]="chipValue" [error]="chipError" 
            [placeholderValue]="chipPlaceholder" [label]="chipLabel">
            </app-chip>
        </div>
        <div class="spacer"></div>
        <div>
            <app-radio-box [parentFormGroup]="userForm" [name]="radioButtonValue" [options]="radioButtonData"
                (valueSelectionChanged)="onRadioChange($event)" [label]="radioButtonLabel">
            </app-radio-box>
        </div>
        <div class="spacer"></div>
        <div>
            <app-check-box [options]="checkedData" [parentFormGroup]="userForm" [name]="checkValue"
                (valueSelectionChanged)="okcheckBoxChange($event)" [label]="checkLabel">
            </app-check-box>
        </div>
        <div align="center">
            <button mat-raised-button color="primary" class="btn">Save</button>
        </div>
    </div>

</form>