<mat-sidenav-container class="sidenav-container" role="banner">
    <mat-sidenav *ngIf="(isHandset$ | async) || (isSmall$ | async)" 
        [attr.role]="(isHandset$ | async) || (isSmall$ | async)? 'dialog': 'navigation'"
        [mode]="(isHandset$ | async) || (isSmall$ | async)?  'over': 'side'" [opened]="false"
        [ngClass]="{'hidden':(isDesktop$ | async) || (isMedium$ | async) }" #drawer class="sidenav" position="end" fixedInViewport>
        <mat-icon class="close-button side-nav-mat-icon" (keyup.enter)="closeDrawer()" (click)="closeDrawer()"
            tabindex="0" role="button" aria-label="clear">close</mat-icon>

        
        <mat-nav-list [ngClass]="{'scroll-nav-list':isScroll}">
            <app-nav-links [drawer]=drawer layout="side-nav" *ngIf="router.url.indexOf('login')==-1"></app-nav-links>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar>
            <div class="logo" tabindex="-1">
                  <p  aria-label="BOA Logo"  cla >StaterKit</p>
            </div>
            <div class="menu-link" *ngIf="(isDesktop$ | async) || (isMedium$ | async)">
                <app-nav-links layout="main-nav" *ngIf="router.url.indexOf('login')==-1"></app-nav-links>
            </div>
            <span class="example-spacer"></span>
            <button class="mat-icon-menu" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="(isHandset$ | async) || (isSmall$ | async) && router.url.indexOf('login')==-1 && this.authService.isLoggedIn == true" >
                <mat-icon  aria-label="side nav toggle icon">
                    menu
                </mat-icon>
            </button>
        </mat-toolbar>
    </mat-sidenav-content>

</mat-sidenav-container>