/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; background-color: ghostwhite; font-family: Roboto, "Helvetica Neue", sans-serif; }


.svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}



@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Italic.ttf') ;
}
 

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/MaterialIcons-Regular.woff') format('woff')
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
}




  