<div align="center">
    <div class="forms">
        <div [routerLink]="['reactive']">
            <mat-card class="card">
                <mat-card-content >
                    <p>
                     Reactive Form
                    </p>
                  </mat-card-content>
            </mat-card>
        </div>
        <div [routerLink]="['template']">
            <mat-card class="card">
                <mat-card-content >
                    <p >
                     Template Form
                    </p>
                  </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>





