.forms{
    display:  flex; justify-content: space-evenly;flex-wrap: wrap;
}
.card {
    width: 120px;height: 80px; background-color: lightgrey;
}

.card:hover {
    
    transform: scale(1.1);
}

@media (max-width: 959px) {
    
    .card {
        margin-top: 15px;
    }

    

   
}


