<div align="center" style="margin: 2em 0;">
    <div class="forms">
        <div [routerLink]="['reactive']">
            <mat-card class="card">
                <mat-card-content style="margin-top: 25%;">
                    <p>
                     Reactive Form
                    </p>
                  </mat-card-content>
            </mat-card>
        </div>
        <div [routerLink]="['template']">
            <mat-card class="card">
                <mat-card-content style="margin-top: 25%;">
                    <p>
                     Template Form
                    </p>
                  </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>





