.forms{
    display:  flex; justify-content: space-evenly;flex-wrap: wrap;
}
.card {
    width: 120px;height: 80px; background-color: burlywood;
}


@media (max-width: 959px) {
    
    .card {
        margin-top: 15px;
    }
}


