.forms{
    display:  flex; justify-content: space-evenly;flex-wrap: wrap;
}
.card {
    width: 120px;height: 80px; background-color: gainsboro;
}

.card:hover {
    background-color: skyblue;
}

@media (max-width: 959px) {
    
    .card {
        margin-top: 15px;
    }

    

   
}


