@import '../../assets/styles/colors.scss';

.forms{
    display:  flex; 
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    margin: 50px;
    background-color: $lightgrey;
   
}

.card:hover {
    
    transform: scale(1.1);
}

@media (max-width: 959px) {
    
    .card {
        margin: 40px;
    }   
}


